*.pro.user
*.autosave
builddir
doc/html
doc/qthelp
doc/sphinx/_doxygen
doc/sphinx/reference/generated/interfaces.rst
doc/sphinx/reference/generated/jsonrpc-api.rst
*api.json.new
*.snap
snap/parts/
snap/prime/
snap/stage/
doc/interfacelist.qdoc

# Never add downloaded json data
data/mac-database/macaddress.io-db.json
data/mac-database/mac-vendors-export.json

.crossbuilder/
debs*.tar

# in source build artifaces
tests/auto/actions/testactions
tests/auto/configurations/testconfigurations
tests/auto/devices/testdevices
tests/auto/events/testevents
tests/auto/jsonrpc/testjsonrpc
tests/auto/logging/testlogging
tests/auto/logging/testloggingdirect
tests/auto/plugins/testactions
tests/auto/restdeviceclasses/restdeviceclasses
tests/auto/restdevices/restdevices
tests/auto/restlogging/testrestlogging
tests/auto/restplugins/restplugins
tests/auto/restrules/restrules
tests/auto/restvendors/restvendors
tests/auto/rules/rules
tests/auto/states/states
tests/auto/timemanager/testtimemanager
tests/auto/versioning/testversioning
tests/auto/webserver/webserver
tests/auto/websocketserver/websocketserver

.idea/
