*.pro.user
*.autosave
builddir
doc/html
*api.json.new
*.qm
*.snap
snap/parts/
snap/prime/
snap/stage/
doc/interfacelist.qdoc

.crossbuilder/
debs*.tar

# in source build artifaces
*.o
moc_*.cpp
*.moc
Makefile
*.so*
qrc_*.cpp
*debhelper.log
*.dirs
*.install
*.substvars
plugininfo.h
extern-plugininfo.h
tests/auto/actions/testactions
tests/auto/configurations/testconfigurations
tests/auto/devices/testdevices
tests/auto/events/testevents
tests/auto/jsonrpc/testjsonrpc
tests/auto/logging/testlogging
tests/auto/plugins/testactions
tests/auto/restdeviceclasses/restdeviceclasses
tests/auto/restdevices/restdevices
tests/auto/restlogging/testrestlogging
tests/auto/restplugins/restplugins
tests/auto/restrules/restrules
tests/auto/restvendors/restvendors
tests/auto/rules/rules
tests/auto/states/states
tests/auto/timemanager/testtimemanager
tests/auto/versioning/testversioning
tests/auto/webserver/webserver
tests/auto/websocketserver/websocketserver

# debian package generated stuff
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/guh-dbg/
debian/guh-tests/
debian/guh-translations/
debian/guh/
debian/guhd/
debian/libguh1-dev/
debian/libguh1/
debian/tmp/
server/guhd

