[Unit]
Description=guhd - IoT server
Documentation=https://github.com/guh/guh/wiki
After=ifup-wait-all-auto.service syslog.target

[Service]
ExecStart=/usr/bin/guhd --print-all
StandardOutput=journal
StandardError=journal
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target
