[Unit]
Description=guhd - IoT server
Documentation=https://github.com/guh/guh/wiki
After=network.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/guhd -n --print-all
StandardOutput=journal
StandardError=journal
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target
