[Unit]
Description=nymead - IoT server
Documentation=https://wiki.nymea.io
After=network.target
Wants=network-online.target

[Service]
# FIXME: This should be moved to /var/lib eventually
Environment=XDG_DATA_DIR=/etc
Environment=XDG_CACHE_HOME=/var/cache
ExecStart=/usr/bin/nymead -n
StandardOutput=journal
StandardError=journal
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
