[Unit]
Description=nymead - IoT server
Documentation=https://nymea.io
Requires=dbus.socket
After=network.target dbus.socket
Wants=network-online.target influxdb.service

[Service]
ExecStart=/usr/bin/nymead -n
StandardOutput=journal
StandardError=journal
Restart=on-failure
Type=simple
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
