Source: guh
Section: utils
Priority: optional
Maintainer: Simon Stuerz <simon.stuerz@guh.guru>
Build-Depends: debhelper (>= 9.0.0),
  dpkg-dev (>= 1.16.1~),
  hardening-wrapper,
  python,
  qt5-default,
  qtbase5-dev,
  qtconnectivity5-dev
Standards-Version: 3.9.5

Package: guh
Architecture: any
Section: misc
Depends: guh (= ${binary:Version}),
  guh-plugins (= ${binary:Version}),
Description: Server for home automation systems - meta package
 guh is an open source home automation server, which allows to control
 a lot of different devices from many different manufacturers. With the
 powerful rule engine you are able to connect any device available in
 the system and create individual scenes and behaviors for your home.
 This meta package installs the guh daemon and the main plugins.

Package: guhd
Architecture: any
Depends: libqt5network5,
  libqt5gui5,
  libqt5sql5,
  libguh1 (= ${binary:Version}),
  ${shlibs:Depends},
  ${misc:Depends}
Recommends:
  libqt5websockets5,
  libqt5bluetooth5
Description: Server daemon for home automation systems
 guh is an open source home automation server, which allows to control
 a lot of different devices from many different manufacturers. With the
 powerful rule engine you are able to connect any device available in
 the system and create individual scenes and behaviors for your home.

Package: guh-dbg
Priority: extra
Architecture: any
Section: debug
Depends: guh (= ${binary:Version}), ${misc:Depends}
Description: server for home automation systems - debug symbols
 guh is an open source home automation server, which allows to control
 a lot of different devices from many different manufacturers. With the
 powerful rule engine you are able to connect any device available in
 the system and create individual scenes and behaviors for your home.

Package: guh-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: guh (= ${binary:Version})
Description: Documentation for the guh package (on-site) - documentation
 guh is an open source home automation server, which allows to control
 a lot of different devices from many different manufacturers. With the
 powerful rule engine you are able to connect any device available in
 the system and create individual scenes and behaviors for your home.

Package: guh-tests
Architecture: any
Depends: guh (= ${binary:Version}),
  ${shlibs:Depends},
  ${misc:Depends}
Description: Tests for the guh package
 guh is an open source home automation server, which allows to control
 a lot of different devices from many different manufacturers. With the
 powerful rule engine you are able to connect any device available in
 the system and create individual scenes and behaviors for your home.

Package: libguh1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
  ${misc:Depends},
  libqt5bluetooth5
Description: Server for home automation systems - core library
 guh is an open source home automation server, which allows to control
 a lot of different devices from many different manufacturers. With the
 powerful rule engine you are able to connect any device available in
 the system and create individual scenes and behaviors for your home.

Package: libguh1-dev
Section: libdevel
Architecture: any
Depends: libguh1 (= ${binary:Version}),
  ${shlibs:Depends},
  ${misc:Depends},
  python
Description: Server for home automation systems - development files
 guh is an open source home automation server, which allows to control
 a lot of different devices from many different manufacturers. With the
 powerful rule engine you are able to connect any device available in
 the system and create individual scenes and behaviors for your home.

Package: guh-plugins
Section: libs
Architecture: any
Depends: libguh1 (= ${binary:Version}),
  guhd (= ${binary:Version}),
  ${shlibs:Depends},
  ${misc:Depends}
Description: Plugins for guh server home automation systems
 guh is an open source home automation server, which allows to control
 a lot of different devices from many different manufacturers. With the
 powerful rule engine you are able to connect any device available in
 the system and create individual scenes and behaviors for your home.
