Source: guh
Section: utils
Priority: optional
Maintainer: Michael Zanetti <michael_zanetti@gmx.net>
Build-Depends: debhelper (>= 9.0.0),
  dpkg-dev (>= 1.16.1~),
  hardening-wrapper,
  qt5-default,
  qtbase5-dev
Standards-Version: 3.9.5

Package: guh
Architecture: any
Section: misc
Depends: guh (= ${binary:Version}),
  guh-plugins (= ${binary:Version}),
Description: server for home automation systems - meta package
 'Gear Up your Home!' - Home automation server.
 guh is a home automation system aiming for easy integration of various
 existing home automation and controlling devices into a fully automated
 system.
 This meta package installs the guh daemon and the main plugins.

Package: guhd
Architecture: any
Depends: libqt5network5,
  libqt5gui5,
  libqt5sql5,
  libqt5bluetooth5,
  libguh1 (= ${binary:Version}),
  ${shlibs:Depends},
  ${misc:Depends}
Description: server for home automation systems
 'Gear Up your Home!' - Home automation server.
 guh is a home automation system aiming for easy integration of various
 existing home automation and controlling devices into a fully automated
 system.

Package: guh-dbg
Priority: extra
Architecture: any
Section: debug
Depends: guh (= ${binary:Version}), ${misc:Depends}
Description: server for home automation systems - debug symbols
 'Gear Up your Home!' - Home automation server.
 guh is a home automation system aiming for easy integration of various
 existing home automation and controlling devices into a fully automated
 system.

Package: guh-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: guh (= ${binary:Version})
Description: documentation for the guh package (on-site)
 'Gear Up your Home!' - Home automation server.
 guh is a home automation system aiming for easy integration of various
 existing home automation and controlling devices into a fully automated
 system.

Package: guh-tests
Architecture: any
Depends: guh (= ${binary:Version}),
  ${shlibs:Depends},
  ${misc:Depends}
Description: tests for the guh package
 'Gear Up your Home!' - Home automation server.
 guh is a home automation system aiming for easy integration of various
 existing home automation and controlling devices into a fully automated
 system.

Package: libguh1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
  ${misc:Depends}
Description: server for home automation systems - core library
 'Gear Up your Home!' - Home automation server.
 guh is a home automation system aiming for easy integration of various
 existing home automation and controlling devices into a fully automated
 system.

Package: libguh1-dev
Section: libdevel
Architecture: any
Depends: libguh1 (= ${binary:Version}),
  ${shlibs:Depends},
  ${misc:Depends}
Description: server for home automation systems - development files
 'Gear Up your Home!' - Home automation server.
 guh is a home automation system aiming for easy integration of various
 existing home automation and controlling devices into a fully automated
 system.

Package: guh-plugins
Section: libs
Architecture: any
Depends: libguh1 (= ${binary:Version}),
  guhd (= ${binary:Version}),
  ${shlibs:Depends},
  ${misc:Depends}
Description: server for home automation systems - plugins
 'Gear Up your Home!' - Home automation server.
 guh is a home automation system aiming for easy integration of various
 existing home automation and controlling devices into a fully automated
 system.
