#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export QT_QPA_PLATFORM=minimal

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	DEB_PARALLEL_JOBS ?= $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
else
	DEB_PARALLEL_JOBS += $(shell getconf _NPROCESSORS_ONLN)
endif

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@ --buildsystem=qmake --parallel CONFIG+=debian

override_dh_auto_build:
	make -j$(DEB_PARALLEL_JOBS)
	make doc

override_dh_auto_test:
	make test

override_dh_install:
	dh_install --fail-missing
	# installing the documentation as there is no extra install target
	cp -a $(CURDIR)/doc/html $(CURDIR)/debian/guh-doc/usr/share/doc/guh/

override_dh_strip:
	dh_strip --dbg-package=guh-dbg
